/*
Violet: #FF9FE5
White: white
Blue: #3c5fe6
Gray: #817d7d
Black: #504f54
*/

* {
  font-family: "Arial";
}

html {
  text-align: center;
  color: #504f54
  background-color: white;
}

h1 {
  color: #FF9FE5;
  font-family: "Comic Sans MS";
}
h2 {
  color:  #3c5fe6;
}
h3 {
  color:#817d7d
