/*
Violet: #FF9FE5
White: #ffffff
Blue: #3c5fe6
Yellow: #fcce00
Black: #504f54
Sliver: #e0e0e0
*/

* {
  font-family: "Arial";
}

html {
  text-align: center;
  color: #e0e0e0;
  background-color: #e0e0e0;
}

h1 {
  color: #FF9FE5;
  font-family: "Comic Sans MS";
}
h2 {
  color:  #3c5fe6;
}
h3 {
  color:#fcce00;
  font-family: "Verdana"; 
}
